<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id} (id=${person.getId()})}" th:object="${person}">
    <!-- thymeleaf автомаитиечкси создаст
    скрытое поле куда поместит метод PAtCH
    th:action="@{/people} указываем куда отправляем форму -->
    <!-- th:object="${person}" указываем что форма будет создаваться для
      объекта под ключом person соотвественноо там будут все поля объекта-->
    <label for="name">EnterName</label>
    <!-- подписывает input(какую подпись будет видеть пользователь
    возле input-->
    <input type="text" th:field="*{name}" id="name">
    <!--указываем какому полю пинадляжащему объекту опд ключом
     person мы будем присваивать значение в данном input-->
    <br/>
    <input type="submit" value="Update"/>
    </form>
</body>
</html>